<?xml version="1.0"?>

<launch>
  <arg name="model" />
  <param name="robot_description" textfile="$(find OW_arm42v3)/urdf/OW_arm42v3.urdf" />
  <!-- <param
    name="use_gui"
    value="$(arg gui)" />
     -->
<!-- To use normal_joint_state_pubisher -->
<!--  
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" /> -->
  
  
 <!-- To use gui joint state publisher -->
  <!-- <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" /> -->
    
  <!-- Do not start a joint_state_publisher node in order to use a terminal_joint_state_publisher -->
  <!-- Start the terminal_joint_state_publisher in another terminal window. -->
  <node
    name="control_joint_state_moveit"
    pkg="move_bot"
    type="control_joint_state_moveit" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find OW_arm42v3)/urdf.rviz" />
</launch>
